// Margin Utility
// ====
//
// Suffixes:
// lg: large
// md: medium
// sm: small
// tn: tiny
// zero:  none


// All(Four side margin) Margin
// =====
.u-margin-all-lg {
    margin: $unit*2 !important;
}

.u-margin-all-md {
    margin: $unit !important;
}

.u-margin-all-sm {
    margin: $sub-unit !important;
}

.u-margin-all-tn {
    margin: $sub-unit / 2 !important;
}

.u-margin-all-zero {
    margin: 0 !important;
}

// Margin Left & Right(L & R)
// ======
.u-margin-l-r-lg {
    margin-right: $unit*2 !important;
    margin-left: $unit*2 !important;
}

.u-margin-l-r-md {
    margin-right: $unit !important;
    margin-left: $unit !important;
}

.u-margin-l-r-sm {
    margin-right: $sub-unit !important;
    margin-left: $sub-unit !important;
}

.u-margin-l-r-tn {
    margin-right: $sub-unit/2 !important;
    margin-left: $sub-unit/2 !important;
}

.u-margin-l-r-zero {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

// Margin Top
// ======
.u-margin-top-lg {
    margin-top: $unit*2 !important;
}

.u-margin-top-md {
    margin-top: $unit !important;
}

.u-margin-top-sm {
    margin-top: $sub-unit !important;
}

.u-margin-top-tn {
    margin-top: $sub-unit/2 !important;
}

.u-margin-top-0 {
    margin-top: 0 !important;
}

// Margin bottom
// ======
.u-margin-bottom-lg {
    margin-bottom: $unit*2 !important;
}

.u-margin-bottom-md {
    margin-bottom: $unit !important;
}

.u-margin-bottom-sm {
    margin-bottom: $sub-unit !important;
}

.u-margin-bottom-tn {
    margin-bottom: $sub-unit/2 !important;
}

.u-margin-bottom-0 {
    margin-bottom: 0 !important;
}

// Margin Left
// ====
.u-margin-start-lg {
    margin-left: $unit*2 !important;
}

.u-margin-start-md {
    margin-left: $unit !important;
}

.u-margin-start-sm {
    margin-left: $sub-unit !important;
}

.u-margin-start-tn {
    margin-left: $sub-unit/2 !important;
}

.u-margin-start-0 {
    margin-left: 0 !important;
}

// Margin Right
// =====
.u-margin-end-lg {
    margin-right: $unit*2 !important;
}

.u-margin-end-md {
    margin-right: $unit !important;
}

.u-margin-end-sm {
    margin-right: $sub-unit !important;
}

.u-margin-end-tn {
    margin-right: $sub-unit/2 !important;
}

.u-margin-end-0 {
    margin-right: 0 !important;
}
