// Padding Utilities
// ===
//
// Suffixes:
// lg: large
// md: medium
// sm: small
// tn: tiny
// zero:  none


// All(Four side padding) padding
// =====
.u-padding-all-lg {
    padding: $unit*2;
}

.u-padding-all-md {
    padding: $unit;
}

.u-padding-all-sm {
    padding: $sub-unit;
}

.u-padding-all-tn {
    padding: $sub-unit / 2;
}

.u-padding-all-zero {
    padding: 0;
}

// padding Left & Right(L & R)
// ======
.u-padding-l-r-lg {
    padding-right: $unit*2;
    padding-left: $unit*2;
}

.u-padding-l-r-md {
    padding-right: $unit;
    padding-left: $unit;
}

.u-padding-l-r-sm {
    padding-right: $sub-unit;
    padding-left: $sub-unit;
}

.u-padding-l-r-tn {
    padding-right: $sub-unit/2;
    padding-left: $sub-unit/2;
}

.u-padding-l-r-0 {
    padding-right: 0;
    padding-left: 0;
}

// padding Top
// ======
.u-padding-top-lg {
    padding-top: $unit*2;
}

.u-padding-top-md {
    padding-top: $unit;
}

.u-padding-top-sm {
    padding-top: $sub-unit;
}

.u-padding-top-tn {
    padding-top: $sub-unit/2;
}

.u-padding-top-0 {
    padding-top: 0;
}

// padding bottom
// ======
.u-padding-bottom-lg {
    padding-bottom: $unit*2;
}

.u-padding-bottom-md {
    padding-bottom: $unit;
}

.u-padding-bottom-sm {
    padding-bottom: $sub-unit;
}

.u-padding-bottom-tn {
    padding-bottom: $sub-unit/2;
}

.u-padding-bottom-0 {
    padding-bottom: 0;
}

// padding Left
// ====
.u-padding-start-lg {
    padding-left: $unit*2;
}

.u-padding-start-md {
    padding-left: $unit;
}

.u-padding-start-sm {
    padding-left: $sub-unit;
}

.u-padding-start-tn {
    padding-left: $sub-unit/2;
}

.u-padding-start-0 {
    padding-left: 0;
}

// padding Right
// =====
.u-padding-end-lg {
    padding-right: $unit*2;
}

.u-padding-end-md {
    padding-right: $unit;
}

.u-padding-end-sm {
    padding-right: $sub-unit;
}

.u-padding-end-tn {
    padding-right: $sub-unit/2;
}

.u-padding-end-0 {
    padding-right: 0;
}
