// Padding Utilities
// ===
//
// Suffixes:
// lg: large
// md: medium
// sm: small
// tn: tiny
// zero:  none


// All(Four side padding) padding
// =====
.u-padding-all-lg {
    padding: $unit*2 !important;
}

.u-padding-all-md {
    padding: $unit !important;
}

.u-padding-all-sm {
    padding: $sub-unit !important;
}

.u-padding-all-tn {
    padding: $sub-unit / 2 !important;
}

.u-padding-all-zero {
    padding: 0 !important;
}

// padding Left & Right(L & R)
// ======
.u-padding-l-r-lg {
    padding-right: $unit*2 !important;
    padding-left: $unit*2 !important;
}

.u-padding-l-r-md {
    padding-right: $unit !important;
    padding-left: $unit !important;
}

.u-padding-l-r-sm {
    padding-right: $sub-unit !important;
    padding-left: $sub-unit !important;
}

.u-padding-l-r-tn {
    padding-right: $sub-unit/2 !important;
    padding-left: $sub-unit/2 !important;
}

.u-padding-l-r-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

// padding Top
// ======
.u-padding-top-lg {
    padding-top: $unit*2 !important;
}

.u-padding-top-md {
    padding-top: $unit !important;
}

.u-padding-top-sm {
    padding-top: $sub-unit !important;
}

.u-padding-top-tn {
    padding-top: $sub-unit/2 !important;
}

.u-padding-top-0 {
    padding-top: 0 !important;
}

// padding bottom
// ======
.u-padding-bottom-lg {
    padding-bottom: $unit*2 !important;
}

.u-padding-bottom-md {
    padding-bottom: $unit !important;
}

.u-padding-bottom-sm {
    padding-bottom: $sub-unit !important;
}

.u-padding-bottom-tn {
    padding-bottom: $sub-unit/2 !important;
}

.u-padding-bottom-0 {
    padding-bottom: 0 !important;
}

// padding Left
// ====
.u-padding-start-lg {
    padding-left: $unit*2 !important;
}

.u-padding-start-md {
    padding-left: $unit !important;
}

.u-padding-start-sm {
    padding-left: $sub-unit !important;
}

.u-padding-start-tn {
    padding-left: $sub-unit/2 !important;
}

.u-padding-start-0 {
    padding-left: 0 !important;
}

// padding Right
// =====
.u-padding-end-lg {
    padding-right: $unit*2 !important;
}

.u-padding-end-md {
    padding-right: $unit !important;
}

.u-padding-end-sm {
    padding-right: $sub-unit !important;
}

.u-padding-end-tn {
    padding-right: $sub-unit/2 !important;
}

.u-padding-end-0 {
    padding-right: 0 !important;
}
