form {
    padding: 10px;
}

h3 {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;
    border-bottom: 1px solid #c4b7b7;

    color: black;
}

li {
    flex: 0 0 auto;
    width: 49%;
}

li span {
    display: block;
    margin: 10px 0 5px;

    text-transform: capitalize;
}

input[type="text"] {
    width: 100%;
    height: 35px;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #c4b7b7;

    border-radius: 2px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 0;

    border-radius: 2px;
    background: darkcyan;

    color: #fff;
    text-transform: uppercase;
}

lable {
    display: block;
    margin-bottom: 6px;
}
